* {
  border: 0;
  padding: 0;
}

.productCard {
  border: 2px solid blueviolet;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px 10px;
  padding: 10px;
  width: 150px;
  height: 50px;
  box-shadow: 10px 20px 5px 2px, #6578;
  border-radius: 30%;
  transition: .5s, .3s;
}

.productCard:hover {
  background-color: chartreuse;
  color: darkred;
  border: none;
  
}

#form {
  margin: 5%;
  padding: 5%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

#form-container {
  width: 20%;
  height: 30%;
  margin-bottom: 2em;
}

#title {
  font-size: 20px;
  font-weight: 600;
  color: darkslategrey;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
}